<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="../resources/css/hobbiesStyles.css">
</head>
<body>
    <div class="navbar">
        <a href="home.html">Home</a>
        <a href="projects.html">Projects</a>
        <a href="hobbies.html">Hobbies</a>
        <a href="resume.html">Resume</a>
        <img src="../resources/img/cuBoulderIcon.png" alt="Image" class="navbar-image">
    </div>
    <header>
        <h1>Hobbies</h1>
    </header>

    <div class="grid-container">
        <div class="grid-item">
            <img src="../resources/img/sudokuHobby.png" alt="Hobby 1" style = "width: 80%; height:50%;">
            <h3>Games</h3>
            <p>In my free time I love to play word or number based games like Sudoku, Wordle, Connections, Crossword, and more.</p>
        </div>
        <div class="grid-item">
            <img src="../resources/img/pianoHobby.jpg" alt="Hobby 2" style = "width: 80%; height:50%;">
            <h3>Piano</h3>
            <p>When I was young I learned how to play technical piano. Since then I've enjoyed playing many different genres, especially contemporary.</p>
        </div>
        <div class="grid-item">
            <img src="../resources/img/BakingHobby.png" alt="Hobby 3" style = "width: 80%; height:50%;">
            <h3>Baking</h3>
            <p>I love to bake different goods such as pies, cookies, and cake. I also love experimenting with different ingredients and flavors.</p>
        </div>
        <div class="grid-item">
            <img src="../resources/img/composingHobby.png" alt="Hobby 4" style = "width: 80%; height:50%;">
            <h3>Composition</h3>
            <p>I've recently started composing music. I compose on the piano 
                and add other instruments with software.
            </p>
        </div>
    </div>
    <footer class = "footer">
        <a href="mailto:ninaffb2004@gmail.com">
            <img src="../resources/img/mailIcon2.jpg" alt="ninaffb2004@gmail.com" style = "width: 30px; height:25px;"></a>
        <a href="https://www.facebook.com/christina.fernandez.7509/" target="_blank">
            <img src="../resources/img/faceBookIcon.png" alt="Facebook" style = "width:30px; height: 30px;">
        </a>
        <a href="https://github.com/ninaffb04" target="_blank">
            <img src="../resources/img/gitHubIcon.png" alt="GitHub" style = "width: 40px; height:30px;">
        </a>
        <a href="https://www.linkedin.com/in/christina-fernandez-6b86622b1/" target="_blank">
            <img src="../resources/img/linkedInIcon.png" alt="LinkedIn" style = "width: 30px; height:30px;">
        </a>
    </footer>
</body>
</html>