<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../resources/css/homeStyles.css">
</head>
<body>
    <div class="navbar">
        <a href="home.html">Home</a>
        <a href="projects.html">Projects</a>
        <a href="hobbies.html">Hobbies</a>
        <a href="resume.html">Resume</a>
        <img src="../resources/img/cuBoulderIcon.png" alt="Image" class="navbar-image">
    </div>
    <h1>Home</h1>
    <div class="container">
        <div class="image">
            <img src="../resources/img/Christina_Fernandez_Headshot.jpg" alt="Image" style = "width: 80%;">
        </div>
        <div class="Description">
           <h2>About Christina Fernandez</h2>
            <p>Christina Fernandez is an undergraduate student at the University of Colorado Boulder. 
                She is majoring in General Mathematics and Computer Science with a minor in Music. Through studying Mathematics 
                she gained experience in critical thinking, logic, and group research. Her most recent mathematical achievement was 
                a poster on the properties of Planar graphs. Later, while studying Computer Science she gained experience in back-end 
                programming, version control, and group development projects. Her most recent computing achievement was a Linux-based 
                file system simulation utilizing the version control system, Git.  It was especially intriguing when she learned the 
                mathematical properties of commonly used data structures, such as graphs and trees, as well as their applications in 
                encryption and cryptography. Christina Fernandez is most interested in back-end software development and cryptography.</p>
            <a href="resume.html">Resume</a>
        </div>
    </div>
    <footer class = "footer">
        <a href="mailto:ninaffb2004@gmail.com">
            <img src="../resources/img/mailIcon2.jpg" alt="ninaffb2004@gmail.com" style = "width: 30px; height:25px;"></a>
        <a href="https://www.facebook.com/christina.fernandez.7509/" target="_blank">
            <img src="../resources/img/faceBookIcon.png" alt="Facebook" style = "width:30px; height: 30px;">
        </a>
        <a href="https://github.com/ninaffb04" target="_blank">
            <img src="../resources/img/gitHubIcon.png" alt="GitHub" style = "width: 40px; height:30px;">
        </a>
        <a href="https://www.linkedin.com/in/christina-fernandez-6b86622b1/" target="_blank">
            <img src="../resources/img/linkedInIcon.png" alt="LinkedIn" style = "width: 30px; height:30px;">
        </a>
    </footer>
</body>
</html>