<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/resumeStyle.css">
    <title>Resume</title>
</head>
<body>

    <div class="navbar">
        <a href="home.html">Home</a>
        <a href="projects.html">Projects</a>
        <a href="hobbies.html">Hobbies</a>
        <a href="resume.html">Resume</a>
        <img src="../resources/img/cuBoulderIcon.png" alt="Image" class="navbar-image">
    </div>
    <h1>Christina Fernandez</h1>
    <a href="../resources/img/Christina Fernandez - Resume (4).pdf" target = "_blank" download="Christina_Fernandez_Resume">
        <button>Download Resume</button>
    </a>
    <p>(970) 219-8911 | <a href="mailto:ninaffb2004@gmail.com">
        <img src="../resources/img/mailIcon2.jpg" alt="ninaffb2004@gmail.com" style = "width: 30px; height:25px;"></a> | <a href="https://www.linkedin.com/in/christina-fernandez-6b86622b1" target = "_blank"><img src="../resources/img/linkedInIcon.png" alt="LinkedIn" style = "width: 30px; height:30px;"></a></p>

    <h2>Profile</h2>
    <p>I am a skilled programmer experienced with Object-Oriented programming along with several data structures such as trees, graphs, stacks, queues, and linked lists. I have experience collaborating in GitHub and using Git for version control. I have strong critical thinking skills gained through proof-based classes.</p>
    <div class = "hi">
        <h2>Education</h2>
        <table>
            <tr>
                <th>Institution</th>
                <th>Year</th>
                <th>Degree</th>
                <th>GPA</th>
                <th>Awards</th>
            </tr>
            <tr>
                <td>University of Colorado Boulder</td>
                <td>2022 - Now</td>
                <td>General Mathematics - BA</td>
                <td>3.88</td>
                <td>Honors Student</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Computer Science - BA</td>
                <td>4.00</td>
                <td>Dean's List</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Minor: Music</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    
        <h2>Relevant Coursework</h2>
        <table>
            <tr>
                <th>Course</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Starting Computing (C++)</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Data Structures (C++)</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Introduction to Computational Thinking (Python)</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Analysis</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Abstract Algebra</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Discrete Structures</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>Combinatorics</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Software Development Methods and Tools</td>
                <td>Currently A</td>
            </tr>
            <tr>
                <td>Computer Systems (C)</td>
                <td>Currently A</td>
            </tr>
        </table>
    
        <h2>Projects</h2>
        <table>
            <tr>
                <th>Project</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Odyssey Game</td>
                <td>I developed a two-player board-game using C++. I customized the game by adding a new tile that generated a random anagram for the player to solve. I implemented two classes and two structs.</td>
            </tr>
            <tr>
                <td>File System Simulation</td>
                <td>A partner and I developed a Linux file system simulation in C++. We stored files and directories in an n-ary tree data structure and a hash table, as well as built functions for Linux commands. We collaborated on this project with GitHub and git version control.</td>
            </tr>
            <tr>
                <td>Message Encryption Program</td>
                <td>I created a message encryption program using C++. This included functions to make a Caesar Cipher and Vigenère Cipher. There was also a main menu and functions for three methods of encryption and decryption.</td>
            </tr>
            <tr>
                <td>Wordle Game</td>
                <td>I developed a game based on Wordle from NYTimes using Python. A user would guess a word and get a hint string based on their guess. Then from the main menu users have the option to see their stats in a bar graph.</td>
            </tr>
            <tr>
                <td>Planar Graph Poster</td>
                <td>I collaborated with my classmates to research Planar Graphs and create a poster presenting the basic properties of Planar Graphs and how they help define Planar Graphs.</td>
            </tr>
        </table>
    
        <h2>Work Experience</h2>
        <table>
            <tr>
                <th>Position</th>
                <th>Institution</th>
                <th>Duration</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Learning Assistant</td>
                <td>University of Colorado Boulder</td>
                <td>January 2023 - December 2023</td>
                <td>I was a learning assistant at the University of Colorado Boulder for Calculus 2 in Spring of 2023 and Calculus 1 in the Fall of 2023. I assisted students in recitations and collaborated with TAs and other faculty during weekly meetings.</td>
            </tr>
            <tr>
                <td>Mathematics Tutor</td>
                <td>University of Colorado Boulder</td>
                <td>January 2024 - May 2024</td>
                <td>I worked as an hourly tutor in the Mathematics Academic Resource Center at the University of Colorado Boulder. I assisted students in classes ranging from precalculus to linear algebra.</td>
            </tr>
            <tr>
                <td>Course Assistant</td>
                <td>University of Colorado Boulder</td>
                <td>January 2024 - Now</td>
                <td>I am currently working as a Course Assistant at the University of Colorado Boulder. I am assisting a Data Structures course by supporting a TA in recitations, holding office hours, and answering student questions on their online discussion board Piazza.</td>
            </tr>
        </table>
    
        <h2>Skills</h2>
        <table>
            <tr>
                <td>C++</td>
                <td>Python</td>
                <td>MySQL</td>
            </tr>
            <tr>
                <td>MATLAB</td>
                <td>LaTeX</td>
                <td>Linux</td>
            </tr>
            <tr>
                <td>Organized</td>
                <td>Detail Oriented</td>
                <td>Fluent in Spanish</td>
            </tr>
            <tr>
                <td>Collaborative Problem Solving</td>
                <td>Critical Thinking</td>
                <td>Adaptable</td>
            </tr>
        </table>
    </div>
    <footer class = "footer">
        <a href="mailto:ninaffb2004@gmail.com">
            <img src="../resources/img/mailIcon2.jpg" alt="ninaffb2004@gmail.com" style = "width: 30px; height:25px;"></a>
        
        <a href="https://www.facebook.com/christina.fernandez.7509/" target="_blank">
            <img src="../resources/img/faceBookIcon.png" alt="Facebook" style = "width:30px; height: 30px;">
        </a>
        <a href="https://github.com/ninaffb04" target="_blank">
            <img src="../resources/img/gitHubIcon.png" alt="GitHub" style = "width: 40px; height:30px;">
        </a>
        <a href="https://www.linkedin.com/in/christina-fernandez-6b86622b1/" target="_blank">
            <img src="../resources/img/linkedInIcon.png" alt="LinkedIn" style = "width: 30px; height:30px;">
        </a>
    </footer>
</body>
</html>
