.navbar {
    display:flex; /* Use Flexbox for proper alignment */
    justify-content:space-between; /* Pushes content apart */
    align-items: center; /* Centers items vertically */
    background-color: lightblue;
    padding: 10px 20px; /* Adds some spacing */
}
.navbar a {
    text-decoration: none;
    color: black;
    padding: 14px 16px;
}
    
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
    
.navbar-image {
    margin-left: auto; /* Pushes icon to the right */
    height: 30px;
}

body {
    font-family: Cambria, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}
header {
    text-align: left;
    padding: 20px;
    color: black;
}
.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
}
.grid-item {
    background-color: #f4f4f4;
    padding: 20px;
    height: 90%;
    border: 1px solid #ddd;
    text-align: center;

}
.grid-item img {
    width: 100%;
    height: 70%;
}
.grid-item h3 {
    margin: 10px 0;
}
.grid-item p {
    padding-bottom: 20px;
    color: #555;
}

.footer{
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;

}